body{
  font-family: "Roboto", sans-serif;
  margin:0;
}

.header-line{
  align-items:center;
  justify-content:center;
  display:flex;
  width: 100%;
  height: 40px;
  background-color: #F5F1E9;
}

.header-lng{
  align:center;
  justify-content:center;
  align-items:center;
  font-weight:400;
  font-size:12px;
  color:#670A18;
  display:flex;
}

.header-line-wrapper{
  align:center;
  justify-content:center;
  display:flex;
  align-items:center;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
}

.header-block {
  width: 40%;
}

.header-block.right{
  display:flex;
  justify-content:flex-end;
}

.nav {
  display: flex;
}

*,
*::before,
*:after {
  box-sizing: border-box;
}



a {
  text-decoration: none;
  
}

.btn{
  min-width:248px;
  height:60px;
  display:inline-flex;
  justify-content:center;
  align-items:center;
  font-size:12px;
  letter-spacing: 0.1em;
  text-transform:uppercase;
  border-radius:0px;
  /* transition:background-color .2s ease; */
  border:0;
  cursor:pointer;
  color:#ffff;
}

.btn.main{
  background-color: #c7a17a;
  margin-right:20px;
  text-decoration:none;
  
}

.btn.main:hover{
  background-color: #a88666;

}

.btn-secondary{
  border:1px solid #666681; 
}

.btn-secondary:hover{
  background-color: #666681;
}

.btn-full{
  width:100%;

}


.container {
  width: 1200px;
  margin: 0 auto;
}



.header {
  border-bottom: 1px solid #32323d;
}

.header-line-wrapper {
  display: flex;
  /* height: 30px; */
  padding: 5px 0;
  align-items: center;
  justify-content: center;
}


.header-lng {
  display: flex;
}

.header-lng a {
  margin-right: 10px;
  color: #35312E;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
}

.header-line {
  border-bottom: 1px solid #F0EEDD;
}

.header-lng a.active {
  font-weight: 600;
  font-size: 14px;
  color: #35312E;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
}

.header-block {
  width: 40%;
}

.header-block-right{
  display:flex;
  justify-content:flex-end;
}

.nav {
  display: flex;
}



.nav-link {
  margin-right: 35px;
  color: #35312E;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  transition: color 0.2s ease;
}

.nav-link:hover {
  color: #35312E;
}

.nav-link.active {
  color:#35312E;
}

.logo {
  
}

.logo img{
  height:54px;
  display:block;
}

.header-actions{
  display:flex;
  align-items:center;
}

.header-link{
  text-transform:uppercase;
  font-size: 13px;
  font-weight: 700;
  color:#35312E;
  margin-right:30px;
  position:relative;
}

.header-link img{
  display: block;
}

/* .header-link:last-child{
  margin-right:0;
} */

.header-link-event{
  width:6px;
  height:6px;
  background-color:#35312E;
  display:block;
  border-radius: 50%;
  position:absolute;
  top:-3px;
  right:-3px;
}

.intro{
  background-repeat:no-repeat;
  background-size:100%;
  /* position:relative; */
  /* margin-bottom:60px; */

}

.intro::after{
  content:'';
  /* position:absolute; */
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgda(2,2,4,0.55);;

}

.intro-wrapper{
  min-width:1440px;
  padding:20px 0;
  min-height:605px;
  display:flex;
  align-items:center;
  z-index:2;
}

.intro-block{
  max-width: 565px;
}

.intro-title{
  margin: 0 0 35px;
  line-height:1.4;
  font-size: 16px;
  font-weight:400;
  text-transform:uppercase;
}

.intro-text{
  margin:0 0 0 0;
  font-size:50px;
  font-weight: 400;
  color:#35312E;
  width:248px;
  height:60px;
  
}

.intro-text-letter{
  text-decoration:underline;
  font-size:50px;
  font-weight: 400;
  color:#35312E;
  
}
/* 
.intro-actions{
  display:flex;
} */


.intro-actions{
  display:flex;
  text-decoration:none;
}


/* .sponsors{
  color:#c7a17a;
  min-width: 100%;
  min-width:1440px;
  width:1440px;
  height:212px;
  display:flex;
} */

.sponsor-title{
  font-size: 24px;
  font-weight:700;
  align:center;
  align-items: center;
  color:#35312E;
  width:648px;
  margin-top:42px;
  margin-left:600px;
  margin-right:600px;
  height:61px;
  display:flex;
  justify-content:center;
}

 .sponsor-img{
  margin-left: 550px;
  margin-top:40px;
  align-items:center; 
  justify-content:center; 
 }


 .sponsor-link{
  height:29px;
  margin-right:50px;
}  


